.container{
    width: 100%;
    max-width: 318px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .sort{
        padding: 28px 24px;
        background: var(--bg-item-color);
        border-radius: var(--border-2x-radius);
    }

    .filter{
        padding: 28px 24px;
        background: var(--bg-item-color);
        border-radius: var(--border-2x-radius);

        &_price{

            &_display{
                display: flex;
                gap: 24px;
                font-size: 14px;

                &_item{
                    border: 1px solid var(--border-color);
                    border-radius: var(--border-radius);
                    padding: 8px 12px;
                    flex: 1;
                    display: grid;
                    gap: 4px;
                    background-color: var(--white);
                    height: 55px;

                    &_title{
                        color: var(--sources-color);
                    }

                    &_value{
                        font-weight: 700;
                        color: var(--black);
                    }
                }
            }
        }
    }
}