/demo/
/Components/
/pages/
*.json
*.d.ts
*.yml

# next.js
/.next/
/out/
next-env.d.ts
additional-next-env.d.ts
next.config.js

# local env files
.env.development.local
.env.test.local
.env.production.local