.container {
  .images {
    &_grid {
      display: grid;
      padding: 0 24px;
      gap: 8px;
      grid-template-areas:
        "photoOne photoTwo photoThree"
        "photoOne photoFour photoFire";
      grid-template-columns: 1fr 25% 25%;

      &_item {
        border-radius: var(--border-2x-radius);
      }
    }

    &_grid > div:first-child {
      grid-area: photoOne;
      img {
        height: 100%;
      }
    }
  }
}
