.container{
    height: 42px;
    background: var(--black);
    padding: 0 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);

    .contact{
        display: flex;
        align-items: center;
        gap: 16px;

        &__item{
            display: flex;
            align-items: center;
            gap: 4px;
            cursor: pointer;

            &__bdRight{
                border-right: 1px solid var(--white);
                padding-right: 16px;
            }
        }
    }

    .social{
        display: flex;
        gap: 16px;
        
        &__item{
            border-right: 0.5px solid var(--white);
            padding-right: 16px;
            cursor: pointer;
        }
    }
}