.ant-picker{
    width: 100%;
    padding-block: 0;
}

.ant-picker-input{
    height: 55px;
}

.ant-select-selection-search-input{
    height: 55px !important;
}

.ant-select-selector{
    height: 55px !important;
    display: flex;
    align-items: center;
}