.container {
  height: 80px;
  background-color: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  -webkit-user-select: none;
  user-select: none;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1290px;
    margin: auto;

    &_logo {
      img {
        height: 80px;
      }
    }

    &_action{
        display: flex;
        gap: 16px;
    }
  }
}
