.container {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
  width: 300px;
  border-radius: 20px;
  height: 500px;
  img {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
  }

  .content {
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    font-size: 14px;

    span{
      font-size: 20px;
      font-weight: 700;
      color: var(--secondary-color);
    }

    &_name {
      font-size: 18px;
      font-weight: 700;
      color: var(--black);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    &_price {
      display: flex;
      gap: 8px;

      p {
        text-decoration-line: line-through;
      }
    }

    &_priceNow{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &_discount{
      padding: 8px 12px;
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
      border-radius: var(--border-radius);
    }
  }
}
