@import 'customAntd/customAntd.scss';
@import 'customAntd/tabs.scss';
@import 'customAntd/input.scss';

:root {
  --primary-color: #3b71fe;
  --black: #161616;
  --white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.cursor-pointer {
  cursor: pointer;
}

div::selection {
  background-color: yellow;
}

